<div>
  <h1>{{ currentWeather?.name }}</h1>
  <button (click)="getPosition()">Aggiorna</button>
  <p>{{ currentWeather?.main?.temp | Converter: "C" }}°</p>
  <img
    src="http://openweathermap.org/img/wn/{{currentWeather?.weather[0]?.icon}}@2x.png"
  />
  <div>
   Umidità: {{currentWeather?.main?.humidity}}%
  </div>
  <div>
    Vento: {{currentWeather?.wind?.speed | Converter: "m/s" }} km/h
  </div>
  <div>
    Percepiti: {{currentWeather?.main?.feels_like | Converter: "C"}}°
  </div>
  <div *ngFor="let d of hourlyWeather?.list">
    <div>{{ d?.dt_txt | date: 'HH:mm'}}</div>
    <img
    src="http://openweathermap.org/img/wn/{{d?.weather[0]?.icon}}.png"
  />
</div>
