<div class="app-wrapper">
  <div
    class="container top white"
    *ngIf="weatherDescription"
    [ngStyle]="{
      background:
        'url(assets/backgrounds/' +
        weatherDescription +
        '.jpg) no-repeat 0 0 / cover'
    }"
  >
    <div class="location-arrow">
      <i (click)="getPosition()" class="fa-solid fa-location-arrow"></i>
    </div>
    <div class="city-name">
      <h1>{{ currentWeather?.name }}</h1>
    </div>
    <div class="city-temperature">
      {{ currentWeather?.main?.temp | Converter: "C" }}°
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="white"
        fill-opacity="1"
        d="M0,256L80,256C160,256,320,256,480,224C640,192,800,128,960,112C1120,96,1280,128,1360,144L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
      ></path>
    </svg>
  </div>

  <div class="container bottom">
    <div class="current-weather-more-info-wrapper">
      <div
        *ngIf="currentWeather?.weather[0]?.icon"
        class="current-weather-picture"
        class="icon"
      >
        <img
          src="http://openweathermap.org/img/wn/{{
            currentWeather?.weather[0]?.icon
          }}@2x.png"
        />
      </div>

      <div class="current-weather-more-info">
        <div class="info-element">
          <div class="info-title">Umidità</div>
          <div>{{ currentWeather?.main?.humidity }}%</div>
        </div>
        <div class="info-element">
          <div class="info-title">Vento</div>
          <div>{{ currentWeather?.wind?.speed | Converter: "m/s" }} km/h</div>
        </div>
        <div class="info-element">
          <div class="info-title">Percepiti</div>
          <div>{{ currentWeather?.main?.feels_like | Converter: "C" }}°</div>
        </div>
      </div>
    </div>

    <div class="hourly-weather">
      <div *ngFor="let d of hourlyWeather?.list" class="hourly-weather-element">
        <div>{{ d?.dt_txt | date: "HH:mm" }}</div>
        <div *ngIf="d?.weather[0]?.icon" class="icon">
          <img
            src="http://openweathermap.org/img/wn/{{ d?.weather[0]?.icon }}.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
